html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --Black: #262730;
  --LightBlack: #2b2c34;
  --LightGray: #AFBFC0;
  --Green: #037971;
  --Gray: #847E89;
  --Liver: #56494C;
  --Blue: #22577A;

  --HeaderHeight: 5em;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--Black);
  }
}
