.wrapper{
    display: flex;
    justify-content: center;
    height: var(--HeaderHeight);
    background-color:whitesmoke;
    box-shadow: 0px 2px 5px var(--Gray);
    color: var(--Green);
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.darkMode{
    background-color: var(--LightBlack);
    color:var(--LightGray);
}

.header{
    display: flex;
    width:2560px;
    justify-content: space-between;
    align-items: center;
    padding-inline:1em;
    color:inherit;
}

.header a{
    color: inherit;
    transition: color .15s ease-in-out;
}

.header a:hover{
    color: var(--Liver)
}

.logo{
    font-size:32px;
}


@media screen and (min-width: 769px) {
    .wrapper{
        display: flex;
        justify-content: center;
        height: var(--HeaderHeight);
        background-color:whitesmoke;
        box-shadow: 0px 2px 5px var(--Gray);
        color: var(--Green);
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
    }
    
    .darkMode{
        background-color: var(--LightBlack);
        color:var(--LightGray);
    }
   
    .menuBtn{
        display: none;
    }

    .linkWrapper{
        list-style-type: none;
        padding:0;
        padding-left:1em;
        display: flex;
        gap:4em;
        font-size: larger;
        font-weight: 600;
    }

}

@media screen and (max-width: 768px){
    .wrapper{
        display: flex;
        justify-content: center;
        height: var(--HeaderHeight);
        background-color:whitesmoke;
        box-shadow: 0px 2px 5px var(--Gray);
        color: var(--Green);
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
    }
    
    .darkMode{
        background-color: var(--LightBlack);
        color:var(--LightGray);
    }
   
   
    .menuBtn{
        display: flex;
        border:none;
        background-color: transparent;
        color: inherit;
        font-size: 30px;
        align-items: center;
        justify-content: center;
    }

    .linkWrapper{
        list-style-type: none;
        padding:0;
        padding-left:1em;
        display: none;
        gap:2em;
        font-size: larger;
        font-weight: 600;
    }
}

@media screen and (max-width: 768PX){
    .header a{
        color: inherit;
        transition: color .15s ease-in-out;
        font-size: 25px;
    }
}