

.darkMode{
    background-color: var(--LightBlack);
    color:var(--LightGray);
}

.header{
    display: flex;
    width:2560px;
    justify-content: space-between;
    align-items: center;
    padding-inline:1em;
    color:inherit;
}

.header a{
    color: inherit;
    transition: color .15s ease-in-out;
}

.header a:hover{
    color: var(--Blue);
}

.logo{
    font-size:32px;
}

.mainLink{
    z-index: 100;
}

.dropDownLink{
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.chevron{
    transform: rotate(-90deg) translateX(-5px);
    transition: transform .2s ease-in-out;
}

.innerLink{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.chevronInner{
    transform: rotate(90deg) translateX(5px);
    transition: transform .2s ease-in-out;
}

.innerLink:hover .chevronInner{
    transform: rotate(90deg) translateY(8px) translateX(5px) ;
}

.dropDownLink:hover .chevron{
    transform: translate(10px, 5px);
}

.dropDown{
    display: none;
}

.dropDownLink:hover .dropDown{
    position: absolute;
    background-color: var(--Green);
    z-index: 10;
    color: whitesmoke;
    list-style-type: none;
    padding:10px;
    display: flex;
    flex-direction: column;
    transform: translate(-40px, 26px);
    opacity:1;
    border-radius: 5px;
}

.dropDown li{
    margin-bottom: 5px;
    
}

.dropDown li:hover a{
    color: var(--LightGray)
}


@media screen and (min-width: 830px) {
    .wrapper{
        display: flex;
        justify-content: center;
        height: var(--HeaderHeight);
        background-color:whitesmoke;
        color: var(--Green);
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        position: relative;
    }
    .sticky{
        position: sticky;
        top:0;
    }
    
    
    .darkMode{
        background-color: var(--LightBlack);
        color:var(--LightGray);
    }
   
    .menuBtn{
        display: none;
    }

    .linkWrapper{
        list-style-type: none;
        padding:0;
        padding-left:1em;
        display: flex;
        align-items: center;
        gap:2em;
        font-size: larger;
        font-weight: 600;
    }

}

@media screen and (max-width: 829px){
    .wrapper{
        display: flex;
        justify-content: center;
        height: var(--HeaderHeight);
        background-color:whitesmoke;
        color: var(--Green);
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        position: relative;
    }
    .sticky{
        position: sticky;
        top:0;
    }
    
    
    .darkMode{
        background-color: var(--LightBlack);
        color:var(--LightGray);
    }
   
   
    .menuBtn{
        display: flex;
        border:none;
        background-color: transparent;
        color: inherit;
        font-size: 30px;
        align-items: center;
        justify-content: center;
    }

    .linkWrapper{
        list-style-type: none;
        padding:0;
        padding-left:1em;
        display: none;
        gap:2em;
        font-size: larger;
        font-weight: 600;
    }
}

@media screen and (max-width: 768PX){
    .header a{
        color: inherit;
        transition: color .15s ease-in-out;
        font-size: 25px;
    }
}