.container{
    min-height: calc(100vh - var(--HeaderHeight));
    background-color:white;
    color: var(--Black);
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    height: 200vh;
}

.container.darkmode{
    background-color: var(--Black);
    color: whitesmoke;
    
}

.slideIn{
    background-color: var(--Liver);
    height: 100%;
}