.container{
    min-height: calc(100vh - var(--HeaderHeight));
    background-color:white;
    color: var(--Black);
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    min-height: 100vh;
}
.container.darkmode{
    background-color: var(--Black);
    color: whitesmoke;
}


@media screen and (min-width: 500px){
    .twoCards{
        margin-block:2em;
        padding-inline:1em;
        display: flex;
        justify-content: center;
        gap: 10%;
    }
}

@media screen and (max-width: 499px){
    .twoCards{
        margin-block:2em;
        padding-inline:1em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
    }
}


.card{
    background-color: var(--Liver);
    color: white;
    padding:1em;
    border-radius: 1em;
}

@media screen and (min-width: 768px){
    .fiftyfifty{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 769px){
    .fiftyfifty{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

.fiftyfifty div{
    padding: 1em;
}