.container{
    min-height: calc(100vh - var(--HeaderHeight));
    background-color:white;
    color: var(--Black);
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    min-height: 100vh;
}
.container.darkmode{
    background-color: var(--Black);
    color: whitesmoke;
}

.link{
    border-bottom: 1px solid black;
}