.menu{
    position: fixed;
    transform: translateX(100vw);
    opacity: 0;
    height:calc(100vh - var(--HeaderHeight));
    width: 100vw;
    background-color: var(--LightGray);
    z-index: 10;
    transition: transform .4s ease-in-out, opacity .2s ease-in-out, background-color .2s ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.menu.open{
    transform: translateX(0em);
    opacity: 1;
}

.nav{
    flex-grow: 1;
    width:100%
}

.ul{
    width: 100%;
    height: calc(100% - var(--HeaderHeight));
    list-style-type: none;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3em;
}

.li{
    font-weight: 600;
    font-size: larger;
}

.darkMode{
    background-color: var(--Black);
    color:var(--LightGray);
}