.menu{
    position: fixed;
    transform: translateX(100vw);
    opacity: 0;
    height:calc(100vh - var(--HeaderHeight));
    width: 100vw;
    background-color: var(--LightGray);
    z-index: 10;
    transition: transform .4s ease-in-out, opacity .2s ease-in-out, background-color .2s ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.menu.open{
    transform: translateX(0em);
    opacity: 1;
}

.nav{
    flex-grow: 1;
    width:100%
}

.ul{
    width: 100%;
    height: calc(100% - var(--HeaderHeight));
    list-style-type: none;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3em;
}

.li{
    font-weight: 600;
    font-size: larger;
}

.darkMode{
    background-color: var(--Black);
    color:var(--LightGray);
}

.dropDownLink{
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.chevron{
    transform: rotate(-90deg) translateX(-5px);
    transition: transform .2s ease-in-out;
}

.innerLink{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.chevronInner{
    transform: rotate(90deg) translateX(5px);
    transition: transform .2s ease-in-out;
}

.innerLink:hover .chevronInner{
    transform: rotate(90deg) translateY(8px) translateX(5px) ;
}

.dropDownLink:hover .chevron{
    transform: translate(10px, 5px);
}


.dropDownLink:hover .dropDown{
    position: absolute;
    background-color: var(--Green);
    z-index: 10;
    color: whitesmoke;
    list-style-type: none;
    padding:10px;
    display: flex;
    flex-direction: column;
    transform: translate(-60px, 30px);
    opacity:1;
}

.dropDown li{
    margin-bottom: 10px;
    
}

.dropDown li:hover a{
    color: var(--LightGray)
}

.dropDown div{
    margin-bottom: 1em;;
}

.dropDownLinks{
    display: none;
}

.dropDownLinks.active{
    display: initial;
}