@media screen and (max-width: 768px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .wrapper div p{
        width: 100%;
    }
}

@media screen and (min-width: 769px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .wrapper div p{
        width: 75%;   
    }
}

.wrapper div{
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.link{
    border-bottom: 1px solid black;
}